In [1]:

from bs4 import BeautifulSoup as soup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
#in order for the browser to fully load
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip

[WDM] - Driver has been saved in cache [/Users/huangjyuanjie/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

In [3]:
# Visit the IMDB site
pages=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
title_id=[]
title=[]
movie_genre=[]
movie_rating=[]
n_reviewer=[]
scrape_genre=['Action','Drama','Comedy','Horror']
for genre in scrape_genre:
    for i in pages:
        url = 'https://www.imdb.com/search/keyword/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=a581b14c-5a82-4e29-9cf8-54f909ced9e1&pf_rd_r=G90GBH50434SYK0D1V7P&pf_rd_s=center-5&pf_rd_t=15051&pf_rd_i=genre&ref_=kw_ref_gnr&mode=detail&page='+str(i)+'&sort=moviemeter,asc&genres='+genre
        browser.visit(url)
        print(i)
# Convert the browser html to a soup object and then quit the browser
        html = browser.html
        movie_soup = soup(html, 'html.parser')
        range_m=movie_soup.find_all('div', class_="lister-item-image ribbonize")
        for j in range(len(range_m)):
        #print(j)
            try:
                soup_id = movie_soup.find_all('div', class_="lister-item-image ribbonize")[j].get('data-tconst')
  
                soup_refined=movie_soup.find_all('div',class_="lister-item-content")[j]
                soup_title=soup_refined.find("a").string
          
                soup_rating=soup_refined.find('div',class_="inline-block ratings-imdb-rating").get("data-value")
  
                soup_n_reviewer=soup_refined.find_all('meta')[2].get("content")
 
                soup_genre=soup_refined.find('span',class_="genre").text
                if (soup_id and soup_title and soup_rating and soup_n_reviewer):
            
                    title_id.append(soup_id)
                    title.append(soup_title)
                    movie_rating.append(soup_rating)
                    n_reviewer.append(soup_n_reviewer)
                    movie_genre.append(soup_genre)
            except AttributeError as e:
                    print(e)

1
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
2
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
3
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
4
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
5
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
6
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
7
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
8
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
9
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
10
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
11
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
12
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
13
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
14
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
15
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
16
'NoneType' object has no attribute 'get'
17
18
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
19
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
20
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
1
'NoneType' object has no attribute 'get'
2
'NoneType' object has no attribute 'get'
3
'NoneType' object has no attribute 'get'
4
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
5
6
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
7
8
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
9
10
'NoneType' object has no attribute 'get'
11
'NoneType' object has no attribute 'get'
12
'NoneType' object has no attribute 'get'
13
14
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
15
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
16
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
17
'NoneType' object has no attribute 'get'
18
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
19
'NoneType' object has no attribute 'get'
20
1
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
2
3
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
4
'NoneType' object has no attribute 'get'
5
'NoneType' object has no attribute 'get'
6
'NoneType' object has no attribute 'get'
7
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
8
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
9
'NoneType' object has no attribute 'get'
10
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
11
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
12
13
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
14
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
15
16
17
18
'NoneType' object has no attribute 'get'
19
20
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
1
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
2
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
3
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
4
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
5
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
6
7
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
8
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
9
'NoneType' object has no attribute 'get'
10
11
'NoneType' object has no attribute 'get'
12
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
13
14
15
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
16
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
17
'NoneType' object has no attribute 'get'
18
'NoneType' object has no attribute 'get'
19
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
'NoneType' object has no attribute 'get'
20

In [4]:
#pd.DataFrame(list(zip(name, name2)), columns=[newname, newname])
df_movies=pd.DataFrame(list(zip(title_id,title,movie_rating, n_reviewer, movie_genre)))

In [5]:
df_movies

,0,1,2,3,4
0,tt9140560,WandaVision,8.3,69400,"\nAction, Comedy, Drama"
1,tt11192306,Superman and Lois,8.1,3982,"\nAction, Adventure, Drama"
2,tt9184982,Tribes of Europa,6.8,5120,"\nAction, Adventure, Drama"
3,tt2560140,Attack on Titan,8.9,204699,"\nAnimation, Action, Adventure"
4,tt0944947,Game of Thrones,9.3,1777156,"\nAction, Adventure, Drama"
...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486,"\nHorror, Mystery, Thriller"
3835,tt0105459,Split Second,6.2,12590,"\nAction, Crime, Horror"
3836,tt4798836,Bad Hair,5.6,2235,"\nComedy, Horror"
3837,tt0044121,The Thing from Another World,7.1,26023,"\nHorror, Sci-Fi"
3838,tt7737734,The Other Lamb,5.2,3311,"\nDrama, Horror"

In [6]:
#remove "\n" from column 4: strip "/n" from left
df_movies[4]=df_movies[4].map(lambda x: x.lstrip('\n'))
df_movies[4]=df_movies[4]
df_movies

,0,1,2,3,4
0,tt9140560,WandaVision,8.3,69400,"Action, Comedy, Drama"
1,tt11192306,Superman and Lois,8.1,3982,"Action, Adventure, Drama"
2,tt9184982,Tribes of Europa,6.8,5120,"Action, Adventure, Drama"
3,tt2560140,Attack on Titan,8.9,204699,"Animation, Action, Adventure"
4,tt0944947,Game of Thrones,9.3,1777156,"Action, Adventure, Drama"
...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486,"Horror, Mystery, Thriller"
3835,tt0105459,Split Second,6.2,12590,"Action, Crime, Horror"
3836,tt4798836,Bad Hair,5.6,2235,"Comedy, Horror"
3837,tt0044121,The Thing from Another World,7.1,26023,"Horror, Sci-Fi"
3838,tt7737734,The Other Lamb,5.2,3311,"Drama, Horror"

In [7]:
#replace comma with space
df_movies[4]=df_movies[4].apply(lambda x: x.replace(","," "))
df_movies

,0,1,2,3,4
0,tt9140560,WandaVision,8.3,69400,Action Comedy Drama
1,tt11192306,Superman and Lois,8.1,3982,Action Adventure Drama
2,tt9184982,Tribes of Europa,6.8,5120,Action Adventure Drama
3,tt2560140,Attack on Titan,8.9,204699,Animation Action Adventure
4,tt0944947,Game of Thrones,9.3,1777156,Action Adventure Drama
...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486,Horror Mystery Thriller
3835,tt0105459,Split Second,6.2,12590,Action Crime Horror
3836,tt4798836,Bad Hair,5.6,2235,Comedy Horror
3837,tt0044121,The Thing from Another World,7.1,26023,Horror Sci-Fi
3838,tt7737734,The Other Lamb,5.2,3311,Drama Horror

In [8]:
#add three additional columns with separated genres to dataframe
df_movies[["5","6","7"]]=df_movies[4].str.split(expand=True)

In [9]:
df_movies

,0,1,2,3,4,5,6,7
0,tt9140560,WandaVision,8.3,69400,Action Comedy Drama,Action,Comedy,Drama
1,tt11192306,Superman and Lois,8.1,3982,Action Adventure Drama,Action,Adventure,Drama
2,tt9184982,Tribes of Europa,6.8,5120,Action Adventure Drama,Action,Adventure,Drama
3,tt2560140,Attack on Titan,8.9,204699,Animation Action Adventure,Animation,Action,Adventure
4,tt0944947,Game of Thrones,9.3,1777156,Action Adventure Drama,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486,Horror Mystery Thriller,Horror,Mystery,Thriller
3835,tt0105459,Split Second,6.2,12590,Action Crime Horror,Action,Crime,Horror
3836,tt4798836,Bad Hair,5.6,2235,Comedy Horror,Comedy,Horror,None
3837,tt0044121,The Thing from Another World,7.1,26023,Horror Sci-Fi,Horror,Sci-Fi,None
3838,tt7737734,The Other Lamb,5.2,3311,Drama Horror,Drama,Horror,None

In [10]:
#rename the columns according to sql naming
df_movie_v1=df_movies.rename(columns={
    0:'movie_id',1:"movie_title",2:"rating",3:"nreviews",4:"genre","5":"genre1","6":"genre2","7":"genre3"})
df_movie_v1

,movie_id,movie_title,rating,nreviews,genre,genre1,genre2,genre3
0,tt9140560,WandaVision,8.3,69400,Action Comedy Drama,Action,Comedy,Drama
1,tt11192306,Superman and Lois,8.1,3982,Action Adventure Drama,Action,Adventure,Drama
2,tt9184982,Tribes of Europa,6.8,5120,Action Adventure Drama,Action,Adventure,Drama
3,tt2560140,Attack on Titan,8.9,204699,Animation Action Adventure,Animation,Action,Adventure
4,tt0944947,Game of Thrones,9.3,1777156,Action Adventure Drama,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486,Horror Mystery Thriller,Horror,Mystery,Thriller
3835,tt0105459,Split Second,6.2,12590,Action Crime Horror,Action,Crime,Horror
3836,tt4798836,Bad Hair,5.6,2235,Comedy Horror,Comedy,Horror,None
3837,tt0044121,The Thing from Another World,7.1,26023,Horror Sci-Fi,Horror,Sci-Fi,None
3838,tt7737734,The Other Lamb,5.2,3311,Drama Horror,Drama,Horror,None

In [11]:
df_movie_v1["rating"]=df_movie_v1["rating"].astype("float")
df_movie_v1["nreviews"]=df_movie_v1["nreviews"].astype("float")
df_movie_v1

,movie_id,movie_title,rating,nreviews,genre,genre1,genre2,genre3
0,tt9140560,WandaVision,8.3,69400.0,Action Comedy Drama,Action,Comedy,Drama
1,tt11192306,Superman and Lois,8.1,3982.0,Action Adventure Drama,Action,Adventure,Drama
2,tt9184982,Tribes of Europa,6.8,5120.0,Action Adventure Drama,Action,Adventure,Drama
3,tt2560140,Attack on Titan,8.9,204699.0,Animation Action Adventure,Animation,Action,Adventure
4,tt0944947,Game of Thrones,9.3,1777156.0,Action Adventure Drama,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...
3834,tt2040560,The Pact,5.7,23486.0,Horror Mystery Thriller,Horror,Mystery,Thriller
3835,tt0105459,Split Second,6.2,12590.0,Action Crime Horror,Action,Crime,Horror
3836,tt4798836,Bad Hair,5.6,2235.0,Comedy Horror,Comedy,Horror,None
3837,tt0044121,The Thing from Another World,7.1,26023.0,Horror Sci-Fi,Horror,Sci-Fi,None
3838,tt7737734,The Other Lamb,5.2,3311.0,Drama Horror,Drama,Horror,None


#For Each Movie Scrape individual's reviews and comments

In [15]:
#looping through all reviews for one movie
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser2 = Browser('chrome', **executable_path, headless=False)
#need to replace this with full list of scraped movies
title_id_list=['tt9845564','tt1567432','tt7942796']
ind_review=[]
rev_text=[]
title_ind_review=[]
#title_id is the list of scraped movies
for i in title_id:
    urlr="https://www.imdb.com/title/"+i+"/reviews?ref_=tt_urv"
    browser2.visit(urlr)
#urlr="https://www.imdb.com/title/tt0113855/reviews?ref_=tt_urv"
    html2 = browser2.html
    review_soup = soup(html2, 'html.parser')
    review_cleaner=review_soup.find_all('div',class_="review-container")
    #number of reviews with comments
    rev2=review_soup.find_all('div',class_="text show-more__control clickable")

    for j in range(len(rev2)):
        #print(f'number of iteration:{j}')
        #print(f'movie title id: {i}')
        try:
            ind_soup=review_cleaner[j].find_all("span")[1].text
            text_soup=review_soup.find_all('div',class_="text show-more__control clickable")[j].text
            if (ind_soup and text_soup):
                if (len(ind_soup)<2):
                    ind_review.append(ind_soup)
                    rev_text.append(text_soup)
                    title_ind_review.append(i)
        except  AttributeError as e:
            print(e)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/huangjyuanjie/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [99]:
#title_ind_review

['tt9845564',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt1567432',
 'tt7942796',
 'tt7942796',
 'tt7942796',
 'tt7942796',
 'tt7942796']

In [100]:
#rev_text

["Spanish movie. Great ending. Thriller the entire way. Assuming you are like me and don't speak a lick of Spanish, trust me when I say you need to watch with subtitles on in Spanish language. That is a must. Watching the dubbed over version in English will ruin it for you.About a police officer who's first day on the job is tasked with driving an armored police truck to transport a half dozen or so very dangerous cons. During the trip, the truck is attacked in the middle of nowhere by a mysterious maniac who will stop at nothing to get inside the truck and kill one of the cons. Why that Is exactly you don't find out until the end.This movie has suspense from start to finish. Not a dull moment. Very serious. I can't recall chuckling once. Not a horror film but it tiptoes the line with a very eerie setting.I throughly enjoyed the acting and for a movie that takes place mostly from the constraints within an armored police truck, it had me on the edge of my seat throughout. I planned on only watching a bit of this movie and then going to bed as it was already late in the night when I started watching. The adrenaline of the movie kept me going to entire way and I easily finished it in one setting Features a surprise ending I didn't see coming. Has an element of darkness that I find attractive in suspense thrillers like this.If you're someone who can sit though foreign movies while reading the subtitles and you like suspense thrillers, this movie is well worth your time.",
 "Like another reviewer has stated, when I first saw the trailer for Teen Wolf, I was totally uninterested. The only reason I watched the first episode was because it came on directly after the MTV movie awards and there was nothing else on TV. I was actually surprised by how good it was. The acting was good, the special effects weren't too cheesy, and there is something dark and edgy about it. I admit some parts of the plot are predictable, but then again, there are some things that flat out surprised me. The actor who plays Stiles is fantastic, and I think he is a big part of why I like the show. Also, Derek Hale's character isn't too bad on the eyes, either. After all this talk about how this is a Twilight rip-off online, I have to say that I think it's unfair to compare this to Twilight. Let's be real, Twilight has horrible acting, and the acting in Teen Wolf is actually decent. And the plot is completely different in my opinion. In Twilight, the story surrounds Edward and Bella's relationship; In Teen Wolf, I think the story is more about Scott's transformation into being a werewolf and the challenges it brings him. Yes, Allison (his love interest) is a part of those challenges, but the story does NOT revolve around their relationship. This show has a TON of potential, and I could definitely see them going above and beyond what they are doing now. But I am entertained for now and I will continue to watch the season until the end. 8/10",
 'Don\'t judge this series from the title. Please simply don\'t. There are various potential open to further interpretation and this piece is fantastically fun! I think the producers should seriously think about updating the "name" though. Now Watch and Love!! 1. The story line is pretty much satisfying in the first season. And definitely improves in the second. Great potential awaits.2. Amazing actors/actresses are discovered. Especially Dylan O\'Brien (Stiles). He is awesome. Both Tyler s (Derek and Scott) are good including the rest of the folks.3. The tension and curiosity manipulations and surprise effects works wonderfully.4. Characters do develop through the second season. They become more appealing and sincere.5. Writers do not bore people with unnecessarily kept secrets (like Merlin who hides his ID for 5 seasons from Arthur... *sigh*) 6. Most importantly, this show makes you want to be a part of it. A part of that world, their world. This is important.Are you still here??? Go and start watching.',
 "--MAY CONTAIN SPOILERS--The advertisements of Teen Wolf aired on MTV, or from my location, MuchMusic and I was skeptical of the show, thinking it was slated to be another Twilight. I am no fan of that film franchise that everyone seems to overrate, thus, I thought it would not appeal to me and grew annoyed with MTV about to feature another lackluster show, because the network doesn't have much interesting to offer in my opinion.So one night, I decided to give the series a look while on the web, running behind about 4 or 5 episodes and after watching and catching up on all of them, to my dismay, I was hooked on this series! Now, I anticipate every episode that gets aired and immensely enjoy all of them, something I never thought was possible with any MTV program. I have to commend MTV on creating a series that makes me feel upset if I happen to miss it.The show is loosely based on the 1985 comedy-drama film, Teen Wolf, where a young teen, wanting to be more than an average kid, has to cope with bearing the heredity of werewolf genes that derived from his father, and with the extraordinary abilities that accompany his life as a werewolf, makes him popular at school. I haven't watched the film factually, I only actually managed to seek out the trailer, and it looked pretty cheesy to me anyway so I couldn't care less about it or if the series followed its plot and characteristics bit for bit.MTV's Teen Wolf surely has a darker, suspenseful and edgier premise, and being an avid horror fan, is the reason why I really dig this show. One recurring factor about this show is that it has a great, well-balanced amount of horror, suspense and comedy. It maintains an fun thrill ride and by every commercial and by every end of an episode, there is always an event building up. A lot of potential is definitely going for the series.This show is about a teenage social outcast at Beacon Hills High School, and a lacrosse player at the school that spends more time on the bench than playing. One night, he is bitten in the middle of the woods by a werewolf while in search of a dead body he hears about. After discovering his unwanted inner werewolf, and the remarkable abilities he gains from it that help his normal life out, he is forced to balance two lives (hiding the werewolf one) and protect those meaningful to him.Tyler Posey plays the aforementioned character known as Scott McCall and does a pretty good job acting the role. He has quite the charm in his on-screen presence and has nice chemistry with Crystal Reed, who plays his high school dream girl, Allison Argent. Dylan O'Brien is his genuine best friend on the show playing Stiles Stilinski, and by far, he signed up for a very colorful character that contributes so heavily. Stiles is practically the comic relief guy, who is there to help Scott keep himself collected from harming people during periods of werewolf rage. He's nerdy and suffers from ADD, but that doesn't stop him from being witty, intelligent and sarcastic which leads to some hilarious moments that Dylan executes splendidly. His lines and delivery are certainly top notch. With certainty, Stiles is my favorite character in the show.Tyler Hoechlin is Derek Hale, a survivor of a fire that took out his family, is a mysterious werewolf in town seeking out his sister, Laura and allies and mentors Scott to help him master and control his werewolf abilities. A decent character so far in the show, the role is acted fairly. You also got Holland Roden as Lydia Martin, the mean-girl type and Jackson Whittemore, the lacrosse team captain played by Colton Haynes, both roles of which are being played pretty good.Speaking from a post-teen perspective, Teen Wolf is a superb supernatural teenage series right now on cable television. I have to compliment Jeff Davis on this project as well as Russell Mulcahy, who added the horror element. It brings me back to the days of enjoying shows like Big Wolf on Campus, Buffy the Vampire Slayer and Angel. My only pet peeve is how there is only 12 episodes in the first season, I mean in my opinion, seasons should have at least 20 or more episodes.Anyway, 8/10 from me for one of my new favorite TV shows.",
 'My friend had been pestering me to watch this show for a year but I would always refuse. From the little I knew, I had only heard about there being wolves and an unnecessary amount of shirtlessness. Both of course are true but there is another element to the show that makes it different.Mainly the fact that after season 1, they showed us another side of the supernatural world with all the different creatures like kanimas, kitsunes, notgitsunes (to name a few). Another reason being Stiles. Sure everyone talks about him all the time but him and his friendship with Scott really make the show. In seasons 1 and 2 he\'s the sarcastic, lovable comedy relief which something like teen wolf needs with it being so dark.The characters all develop well as the plot goes on with some great additions. The running theme is always "who is the -" in each season like who is the kanima? Who is the darach?Overall it\'s a really good show and my only regret is avoiding it for so long.',
 "First time I saw the commercial to this show, I was really disappointed. Teen Wolf should remain in the 80's where it belongs. Why? Well... it's 80's cheesy to me, but I still love the film. I really thought this was going to be some cheesy rip off... oh how wrong I was. I LOVE THIS SHOW! It's about time that werewolves get the spotlight. No more Twilight glittery vampires that look constipated or stalk you while you sleep. No cheesy vampire brother love triangle with a girl that looks like a girl from their past that happened to change them into vamps. Don't get me wrong. I love vampires but werewolves are hard to make appealing because they are cursed with a curse that brings natural beast out of them.It's not cheesy, it's well acted, great looking.. mmm werewolves (Derek.. my baby!), and the story is very unique. The more and more it goes on, the more I want. I feel so disappointed when each episode ends and I happen to scream at my TV because the credits roll and I want more.There are a lot of werewolf shows that completely go dead because of lack of interest. Like for example 'Wolf Lake', 'Big wolf on campus' and I'm sure there are more, but I forgot them.I want this show to prosper and show that werewolves can be sexy too.",
 'So I heard about this show called Teen Wolf. My friends, both males and females, told me about it and said i should check it out. My first though was "Oh geeze, not another cheesy, twilight tween flick.." So I decided to check it out anyways. After watching it, I was quite surprised and much more impressed than what I expected it to be. This is NOTHING like twilight. Sure, it contains some of the clichés Twilight contains, but other than that there is no correlation and A LOT of television shows have clichés like the ones in this show. It also has an interesting story line that is actually pretty good. Although this show is actually quite good, it has its flaws. The acting at some times is forced, but for the most part it is good. The special effects are also lacking, but many good shows also lack this aspect and are still very successful (such as NCIS). I want to point out that I am in fact MALE and not female so this review is from the point of view of an average guy, not some girl who drools over these types of shows. In fact, this is actually one of the first that I am interested in. If this keeps up the pace and doesn\'t turn into a cliché-fest, this show could be very successful. Although at the time I\'m writing this there are only five episodes, it is nonetheless an interesting and thrilling show that everyone should check out.',
 "Look, lets be honest and admit that season1 Teen Wolf wasn't great, it showed signs of great humour, horror and was extremely inclusive in terms of some real life teenage themes. Again, it wasn't great but it showed potential.Now after finishing it's third season, it is clear that, Teen Wolf has done something that not many shows have the guts to do, and that is, it has matured with its audience. The creator and producers behind the show have realized that people age alongside the show, that we are not the same people from season1 and thus they have enabled Teen Wolf to reach it's potential and beyond. Now we have fully fleshed out relationships, more adult and sexual themes (which c'mon everyone loves), some more suspenseful scenes with a fair amount of horror and still they have managed to include school into their lives consistently (something that is totally frustrating in so many TV shows). Plus the music on the show is awesome.Don't give up after season 1, persevere because I guarantee that it will be the beginning of a beautiful friendship.",
 'Okay, when i first saw this preview, i thought oh no ! not another lame MTV show! The trailer did not give this show its credit. I decided to watch the first episode , just to see what it was like. And I tell you what. Its fantastic. The actors have true talent for their age. Many people think this is a lame "Twilight" Copycat show, It definitely is not. It doesn\'t even have vampires in it . Plus the storyline is actually based on the person with the supernatural ability, and his day to day struggles, of adjusting with his new ability of being a werewolf. It shows some actual storyline. Other than Twilight. The Plot is better than i expected. The storyline for each episode is well suited, ( the writer and producer are doing a good job of not rushing the storyline) Plus the swoon- worthy guys . (Derek and Jackson) sorry not a big fan of Scott! But to tell you the truth I am disgusted at how people are rating this show. Its unfair. Its only into its 5th episode, (the show is still explaining itself) . The highly commend Vampire Diaries, started out pretty mediocre if you ask me. So please guys give this a chance . Im sure we haven\'t seen the best of Teen Wolf for ages. I am so excited each week to see every episode.9/10 And trust me im harssh. I just really liked something about this show, i had more to back up my view. Its just im really tired after watching the 5 episodes of Teen Wolf again and again. :P',
 "OK first off I'm 36 and seen pretty much everything SciFi/Horror out there. Add to this I'm a fan of the original Teen Wolf (number 2 i mean what the hell was that) also watched the cartoon series which I enjoyed. Also I'm not a fan of much if anything this generation done by MTV.\nI avoided this show even though a few people said i should give it go. So I decided to keep it for a rainy day. \nIt started raining yesterday and I'm already on season 2!! \nBrilliant, solid acting , great effects and fantastic casting around. Season 1 has drawn me in for keeps. I was expecting cheesey teen angst type stuff but no. Its dark, moody with just then right amount of humour. I've got to give a massive round of applause to whoever is in charge of music as it is amazing. \nOne more thing ... Massive kudos to the guy playing Stiles, he is excellent.\nSeriously give this a go, you won't regret it. If you do blame me. I'll even give you my address so you can come round and kick my butt. Although you'll probably just want to pet my dog and admire my bottle cap collection.( I'm joking, I don't have a dog)Happy viewing people",
 'The original Magnum, PI, featured the physically imposing Tom Selleck as the lead role, a humble, likeable character trying to make it as a private investigator. Set in the 1980s, Magnum and his cohorts were Vietnam veterans, with Higgins, who managed the estate where Magnum stayed as a security consultant, an older WWII veteran of the British armed forces. Much of the charm of the show was the interplay and banter between Higgins and Magnum.This remake is a travesty, They use the same music, the same helicopter, and the same cast names, but the new version superimposes the current PC dogma, rendering the show unwatchable to fans of the original, and presenting an uninterrupted stream of banal dialogue, ridiculous action sequences, and amateurish screenplay that will not win any new followers.Magnum himself (6\'4" WASP Tom Selleck) has been replaced by a diminutive hispanic actor. Rick, who in the original series was small and suffered from "a glass jaw" often to comedic effect, has been replaced by a new brawny version. The TC character, an African-American role, however, remains curiously consistent under the rules of this PC universe, although the new actor does not have the charm of the original. The most obnoxious casting change is to replace the curmudgeonly Jonathan Quayle Higgins as a yoga-practicing much younger British dish (who does not like tea). Why bother to leave Zeus and Apollo as dobermans?The new PC Hollywood strictures are very much in evidence: Nuzo, the ill fated white former Marine friend of Magnum, TC and Rick, has an African-American wife, and mixed-race wide-eyed son to fulfill some of the new diversity requirements. There is no doubt about the ethnicity of the villains, however, who are not just caucasian, but are also former US Marines, for good measure- who waterboard people, just in case anyone has missed the ham-handed messaging incorporated into the script.Will Ice Pick return as a trans-gender mobster? Luther Gillis as a St. Louis-based lesbian?I won\'t bother watching to find out.',
 'Wanted to give it a fair shot.I really tried.Felt so forced and fake from the beginning.The dialogue was as if actors were simply reading single sentences back and forth to each other.One of the worse things is they tried to cram 8 years of character development into the first episode.Zero magic here like the original (and only) Magnum, P.I.Hard pass on these rebooted classic TV series. Horrible.#NotMyMagnum',

In [16]:
len(rev_text)

17858

In [17]:
df_reviews=pd.DataFrame(list(zip(title_ind_review,ind_review,rev_text)))
df_reviews

                0  1                                                  2
0       tt9140560  8  I was really excited by this title and I still...
1      tt11192306  8  I am not a fan of CW superhero tv series since...
2      tt11192306  9  Being that this is a Berlanti CW show I was NO...
3       tt9184982  7  The product of recent film school grads that h...
4       tt9184982  9  On a plus side :well litnice characterization/...
...           ... ..                                                ...
17853   tt0044121  8  The Thing, released in 1951, is the original h...
17854   tt0044121  9  As all lovers of the SciFi film genre knows, T...
17855   tt0044121  8  In a remote arctic location, a military unit g...
17856   tt7737734  3  Polish filmmaker Malgorzata Szumowska, togethe...
17857   tt7737734  6  Who's the lamb you may ask - and is it just on...

[17858 rows x 3 columns]

In [23]:
df_movie_v1.to_csv("df_movie_v1.csv", index=False)

In [18]:
df_reviews[1]=df_reviews[1].astype("int64")
# data exploration -check for data distribution, it has normal distribution (not skewed) need to clean up the oulier

In [58]:
#rename_df= name_df.rename(columns={"old name":'new name',"old name":"new name"})
#manipulating data
df_review_v1=df_reviews.rename(columns={
    0:"movie_id",1:"rating_ind",2:"rating_text"})
df_review_v1

,movie_id,rating_ind,rating_text
0,tt9140560,8,I was really excited by this title and I still...
1,tt11192306,8,I am not a fan of CW superhero tv series since...
2,tt11192306,9,Being that this is a Berlanti CW show I was NO...
3,tt9184982,7,The product of recent film school grads that h...
4,tt9184982,9,On a plus side :well litnice characterization/...
...,...,...,...
17853,tt0044121,8,"The Thing, released in 1951, is the original h..."
17854,tt0044121,9,"As all lovers of the SciFi film genre knows, T..."
17855,tt0044121,8,"In a remote arctic location, a military unit g..."
17856,tt7737734,3,"Polish filmmaker Malgorzata Szumowska, togethe..."
17857,tt7737734,6,Who's the lamb you may ask - and is it just on...

In [22]:
#df.shape
#data[data['Gender'] == 'Female']['varname'].mean()
#from scipy import stats
df_review_v1.to_csv("df_review_v1.csv", index=False)

Transfer data to SQL database, needs to be done

In [14]:
from sqlalchemy import create_engine

In [17]:
rds_connection_string = "postgres:postgres@localhost:5432/finalp_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [34]:
engine.table_names()

['review_info', 'movie_info']

In [20]:
#DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)
df_movie_v1.to_sql(name='movie_info', con=engine, if_exists='append', index=False)

In [25]:
qpd=pd.read_sql_query('select * from movie_info', con=engine)

In [23]:
qpd

,movie_id,movie_title,rating,nreviews,genre,genre1,genre2,genre3
0,tt9140560,WandaVision,8.3,66492.0,Action Comedy Drama,Action,Comedy,Drama
1,tt2560140,Attack on Titan,8.9,203898.0,Animation Action Adventure,Animation,Action,Adventure
2,tt6878306,News of the World,6.8,39587.0,Action Adventure Drama,Action,Adventure,Drama
3,tt6475714,Monster Hunter,5.3,18284.0,Action Adventure Fantasy,Action,Adventure,Fantasy
4,tt0944947,Game of Thrones,9.3,1776219.0,Action Adventure Drama,Action,Adventure,Drama

In [35]:
df_review_v1.to_sql(name='review_info', con=engine, if_exists='append', index=False)

In [36]:
rpd=pd.read_sql_query('select * from review_info', con=engine)

In [37]:

len(rpd["movie_id"])

17913

In [ ]:
#browser.visit(url1)
#time.sleep(5)
#print(soup1.prettify())

In [28]:
Genre_info=pd.DataFrame(columns = ["movie_id","Action","Adventure","Animation","Biography",
"Comedy","Crime","Documentary","Drama",
"Family","Fantasy","Film_Noir","Game_Show",
"History","Horror","Music","Musical",
"Mystery","News","Reality_TV","Romance",
"Sci_Fi","Sport","Talk_Show","Thriller",
"War","Western"])

sctr = 0  
for indx in df_movie_v1.index:
    sctr +=1
#     if sctr == 10:
#         break
#     print("-------------------------------------------------")    
#     print( indx , df_movies['Movie_id'][indx], df_movies['Movie_title'][indx], df_movies['Genres'][indx])
   
    tempxx=  df_movie_v1['genre'][indx]
#     print(f"Genres: {tempxx}")
    
# Action    
    if (tempxx.find('Action') !=-1):
        Action= 1
#         print ("Add 1 to Action Column")
    else:
        Action =0
#         print ("Add 0 to Action Column")
        
# Adventure
    if (tempxx.find('Adventure') !=-1):
        Adventure= 1
#         print ("Add 1 to Adventure Column")
    else:
        Adventure =0
#         print ("Add 0 to Adventure Column")
        
# Animation
    if (tempxx.find('Animation') !=-1):
        Animation= 1
#         print ("Add 1 to Animation Column")
    else:
        Animation =0
#        print ("Add 0 to Animation Column")
        
# Biography
    if (tempxx.find('Biography') !=-1):
        Biography= 1
#        print ("Add 1 to Biography Column")
    else:
        Biography =0
#        print ("Add 0 to Biography Column")
        
# Comedy
    if (tempxx.find('Comedy') !=-1):
        Comedy= 1
#        print ("Add 1 to Comedy Column")
    else:
        Comedy =0
#        print ("Add 0 to Comedy Column")
        
# Crime
    if (tempxx.find('Crime') !=-1):
        Crime= 1
#        print ("Add 1 to Crime Column")
    else:
        Crime =0
#        print ("Add 0 to Crime Column")

# Documentary
    if (tempxx.find('Documentary') !=-1):
        Documentary= 1
#        print ("Add 1 to Documentary Column")
    else:
        Documentary =0
#        print ("Add 0 to Documentary Column")
        
# Drama
    if (tempxx.find('Drama') !=-1):
        Drama= 1
#        print ("Add 1 to Drama Column")
    else:
        Drama =0
#        print ("Add 0 to Drama Column")  
        
# Family
    if (tempxx.find('Family') !=-1):
        Family= 1
#        print ("Add 1 to Family Column")
    else:
        Family =0
#        print ("Add 0 to Family Column")
                
# Fantasy
    if (tempxx.find('Fantasy') !=-1):
        Fantasy= 1
#        print ("Add 1 to Fantasy Column")
    else:
        Fantasy =0
#        print ("Add 0 to Fantasy Column")
                
# Film_Noir
    if (tempxx.find('Film-Noir') !=-1):
        Film_Noir= 1
#        print ("Add 1 to Film_Noir Column")
    else:
        Film_Noir =0
#        print ("Add 0 to Film_Noir Column")
                
# Game_Show
    if (tempxx.find('Game-Show') !=-1):
        Game_Show= 1
#        print ("Add 1 to Game_Show Column")
    else:
        Game_Show =0
#        print ("Add 0 to Game_Show Column")
                
# History
    if (tempxx.find('History') !=-1):
        History= 1
#        print ("Add 1 to History Column")
    else:
        History =0
#        print ("Add 0 to History Column")
                
# Horror
    if (tempxx.find('Horror') !=-1):
        Horror= 1
#        print ("Add 1 to Horror Column")
    else:
        Horror =0
#        print ("Add 0 to Horror Column")
                
# Music
    if (tempxx.find('Music') !=-1):
        Music= 1
#        print ("Add 1 to Music Column")
    else:
        Music =0
#        print ("Add 0 to Music Column")
                
# Musical
    if (tempxx.find('Musical') !=-1):
        Musical= 1
#        print ("Add 1 to Musical Column")
    else:
        Musical =0
#        print ("Add 0 to Musical Column")
                
# Mystery
    if (tempxx.find('Mystery') !=-1):
        Mystery= 1
#        print ("Add 1 to Mystery Column")
    else:
        Mystery =0
#        print ("Add 0 to Mystery Column")
                
# News
    if (tempxx.find('News') !=-1):
        News= 1
#        print ("Add 1 to News Column")
    else:
        News =0
#        print ("Add 0 to News Column")
                
# Reality_TV
    if (tempxx.find('Reality-TV') !=-1):
        Reality_TV= 1
#        print ("Add 1 to Reality_TV Column")
    else:
        Reality_TV =0
#        print ("Add 0 to Reality_TV Column")
                
# Romance
    if (tempxx.find('Romance') !=-1):
        Romance= 1
#        print ("Add 1 to Romance Column")
    else:
        Romance =0
#        print ("Add 0 to Romance Column")
                
# Sci_Fi
    if (tempxx.find('Sci-Fi') !=-1):
        Sci_Fi= 1
#        print ("Add 1 to Sci_Fi Column")
    else:
        Sci_Fi =0
#        print ("Add 0 to Sci_Fi Column")
                
# Sport
    if (tempxx.find('Sport') !=-1):
        Sport= 1
#        print ("Add 1 to Sport Column")
    else:
        Sport =0
#        print ("Add 0 to Sport Column")
                
# Talk_Show
    if (tempxx.find('Talk-Show') !=-1):
        Talk_Show= 1
#        print ("Add 1 to Talk_Show Column")
    else:
        Talk_Show =0
#        print ("Add 0 to Talk_Show Column")
                
# Thriller
    if (tempxx.find('Thriller') !=-1):
        Thriller= 1
#        print ("Add 1 to Thriller Column")
    else:
        Thriller =0
#        print ("Add 0 to Thriller Column")
                
# War
    if (tempxx.find('War') !=-1):
        War= 1
#        print ("Add 1 to War Column")
    else:
        War =0
#        print ("Add 0 to War Column")
        
# Western
    if (tempxx.find('Western') !=-1):
        Western= 1
#        print ("Add 1 to Western Column")
    else:
        Western =0
#        print ("Add 0 to Western Column")
#     print(sctr)
    Genre_info = Genre_info.append({'movie_id' : df_movie_v1['movie_id'][indx] ,
                                    'Action': Action, 
                                    "Adventure": Adventure,
                                    "Animation":Animation,
                                    "Biography":Biography,
                                    "Comedy":Comedy,
                                    "Crime":Crime,
                                    "Documentary":Documentary,
                                    "Drama":Drama,
                                    "Family":Family,
                                    "Fantasy":Fantasy,
                                    "Film_Noir":Film_Noir,
                                    "Game_Show":Game_Show,
                                    "History":History,
                                    "Horror":Horror,
                                    "Music":Music,
                                    "Musical":Musical,
                                    "Mystery":Mystery,
                                    "News":News,
                                    "Reality_TV":Reality_TV,
                                    "Romance":Romance,
                                    "Sci_Fi":Sci_Fi,
                                    "Sport":Sport,
                                    "Talk_Show":Talk_Show,
                                    "Thriller":Thriller,
                                    "War":War,
                                    "Western":Western                                     
                         },ignore_index = True)

In [29]:
Genre_info.to_csv("Genre_info.csv", index=False)

In [33]:
movie_info = df_movie_v1[["movie_id", "movie_title", "rating", "nreviews"]]

        movie_id                   movie_title  rating   nreviews
0      tt9140560                   WandaVision     8.3    69400.0
1     tt11192306             Superman and Lois     8.1     3982.0
2      tt9184982              Tribes of Europa     6.8     5120.0
3      tt2560140               Attack on Titan     8.9   204699.0
4      tt0944947               Game of Thrones     9.3  1777156.0
...          ...                           ...     ...        ...
3834   tt2040560                      The Pact     5.7    23486.0
3835   tt0105459                  Split Second     6.2    12590.0
3836   tt4798836                      Bad Hair     5.6     2235.0
3837   tt0044121  The Thing from Another World     7.1    26023.0
3838   tt7737734                The Other Lamb     5.2     3311.0

[3839 rows x 4 columns]

In [59]:
pos_neg = []

for indx in df_movie_v1.index:
    
    if(df_movie_v1["rating"][indx]>=6):
        a = 1
        pos_neg.append(a)
    else:
        a = 0
        pos_neg.append(a)
pos_neg

[1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 ...]

In [45]:
movie_info["pos_neg"] = pos_neg
movie_info.to_csv("Movie_info.csv", index=False)

<ipython-input-45-6d9fee2a79f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_info["pos_neg"] = pos_neg

In [62]:
review_pos_neg = []

for indx in df_review_v1.index:
    
    if(df_review_v1["rating_ind"][indx]>=6):
        b = 1
        review_pos_neg.append(b)
    else:
        b = 0
        review_pos_neg.append(b)
review_pos_neg

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [66]:
df_review_v1["pos_neg_ind"] = review_pos_neg
df_review_v1.to_csv("Review_info.csv", index=False)

In [65]:
df_review_v1 = df_review_v1.reindex(columns=['movie_id','rating_ind','pos_neg_ind','rating_text'])

    
df_review_v1

,movie_id,rating_ind,pos_neg_ind,rating_text
0,tt9140560,8,1,I was really excited by this title and I still...
1,tt11192306,8,1,I am not a fan of CW superhero tv series since...
2,tt11192306,9,1,Being that this is a Berlanti CW show I was NO...
3,tt9184982,7,1,The product of recent film school grads that h...
4,tt9184982,9,1,On a plus side :well litnice characterization/...
...,...,...,...,...
17853,tt0044121,8,1,"The Thing, released in 1951, is the original h..."
17854,tt0044121,9,1,"As all lovers of the SciFi film genre knows, T..."
17855,tt0044121,8,1,"In a remote arctic location, a military unit g..."
17856,tt7737734,3,0,"Polish filmmaker Malgorzata Szumowska, togethe..."
17857,tt7737734,6,1,Who's the lamb you may ask - and is it just on...